{% extends "base.html" %}

{% block title %}Удалить рассылку{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-3">Удалить рассылку</h1>
    <p>Вы уверены, что хотите удалить рассылку с <strong>{{ object.start_time }}</strong> по <strong>{{ object.end_time }}</strong>?</p>

    <form method="post" class="mt-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Да, удалить</button>
        <a href="{% url 'mailings:mailing_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
